#app {
	padding : 15px 0;
}

.Alert {
	padding          : 1em;
	position         : relative;
	background-color : #eee;
	margin-bottom : 10px;
	span {
		font-weight : bold;
	}
	&.Alert__success {
		background-color: #9ed19c;
		color : green;
	}
	&.Alert__danger {
		background-color: #d18e8e;
		color : #800003;
	}
	.Alert__close {
		position : absolute;
		top      : 1em;
		right    : 1em;
		cursor   : pointer;
	}
}